/*Variables*/
$green-light: #99e2d0;
$green: #008766;
$blue-light: #89c8fa;
$blue-dark: #003a68;
$purple: #9356dc;
$white: #ffffff;
$grey-body: #f3f3f3;
$dark-grey: #353535;

* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 375px;
  background-color: $grey-body;
  border: solid;
}

header {
  width: 375px;
  height: 113px;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 375px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  img {
    width: 197px;
    height: 36px;
  }
}

.explore {
  width: 375px;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  input {
    border: none;
    background-color: #eaeaea;
    width: 109px;
    height: 19px;
    font-size: 16px;
    margin-left: 20px;
    &::placeholder {
      color: $dark-grey;
    }
    &:focus {
      outline: none;
    }
  }
  i {
    width: 12px;
    height: 16px;
    color: $dark-grey;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  h1 {
    width: 275px;
    height: 68px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 39px;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    width: 315px;
    height: 46px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
  button {
    width: 210px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356dc);
    border: none;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 27px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    &:hover {
      opacity: 0.85;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

.functioning {
  background-color: $white;
  height: 440px;
}

h2 {
  padding-top: 48px;
  padding-left: 20px;
  padding-bottom: 26px;
  font-size: 24px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .step__contain {
    background-color: #f6f6f6;
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  i {
    padding-left: 35px;
    padding-right: 18px;
  }
  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}

.nbr {
  position: absolute;
  top: 23px;
  left: -12px;
  background-color: $purple;
  color: $white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.restaurants-cards {
  width: 340px;
  height: 1058px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: $white;
  position: relative;

  img {
    width: 340px;
    height: 160px;
    border-radius: 15px 15px 0 0;
  }
  .new {
    position: absolute;
    top: 15px;
    left: 245px;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-light;
    color: $green;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
  }
}

.description {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  .who-where {
    color: #000000;
  }
  h3 {
    margin: 0;
    padding-bottom: 1px;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
  }
  i {
    width: 22px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
  #heart-color {
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

footer {
  background-color: $dark-grey;
  padding: 15px;
  p {
    color: $white;
    font-family: Shrikhand;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
  }
  a {
    text-decoration: none;
    color: $white;
  }
  .links_footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 16px;
  }
  i {
    width: 11px;
    height: 13px;
    margin-right: 10px;
  }
  .mentions {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}
