/*Variables*/
$green-light: #99e2d0;
$green: #008766;
$blue-light: #89c8fa;
$blue-dark: #003a68;
$purple: #9356dc;
$white: #ffffff;
$grey-body: #f3f3f3;

body {
  width: 375px;
  background-color: $grey-body;
  border: solid;
  font-family: "Roboto", sans-serif;
}

header {
  width: 375px;
  height: 113px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 375px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  img {
    width: 197px;
    height: 36px;
  }
}

.explore {
  width: 375px;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  input {
    border: none;
    background-color: #eaeaea;
    width: 109px;
    height: 19px;
    font-size: 16px;
    margin-left: 20px;
    &::placeholder {
      color: #353535;
    }
  }
  i {
    width: 12px;
    height: 16px;
    color: #353535;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  h1 {
    width: 275px;
    height: 68px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 39px;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    width: 315px;
    height: 46px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
  button {
    width: 210px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#ff79da, #9356dc);
    border: none;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 27px;
  }
}

.functioning {
  background-color: $white;
  height: 440px;
  h2 {
    padding-top: 48px;
    padding-left: 20px;
    padding-bottom: 26px;
    font-size: 24px;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  .step__contain {
    background-color: #f6f6f6;
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid;
  }
  i {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.nbr {
  background-color: $purple;
  color: $white;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
