/*Variables*/
$green-light: #99e2d0;
$green: #008766;
$blue-light: #89c8fa;
$blue-dark: #003a68;
$purple: #9356dc;
$white: #ffffff;
$grey-body: #f6f6f6;
$dark-grey: #353535;

/************* Animation Loader HomePage ************/
/****************************************************/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation-name: loader;
  animation-duration: 3s;
  animation-fill-mode: both;

  .lettre {
    color: $purple;
    font-size: 40px;
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state*/
    animation: flash 1.2s linear infinite;
  }
}

@keyframes loader {
  /* animation du chargement de la page */
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden; /* pour que le loader ne reste pas en position: fixed; ce qui bloque les interactions sur la page*/
  }
}

@keyframes flash {
  /* animation du loader */
  0% {
    color: $green-light;
    text-shadow: 0 0 7px $green-light;
  }
  90% {
    color: $purple;
    text-shadow: none;
  }
  100% {
    color: $green-light;
    text-shadow: 0 0 7px $green-light;
  }
}

/* effet de décalage sur chaque lettre */

.lettre:nth-child(1) {
  /* sélection du premier enfant (i-e première lettre)*/
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $white;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  img {
    width: 197px;
    height: 36px;
  }
}

.explore {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

  input {
    border: none;
    background-color: #eaeaea;
    width: 109px;
    height: 19px;
    font-size: 16px;
    margin-left: 20px;
    &::placeholder {
      color: $dark-grey;
    }
    &:focus {
      outline: none;
    }
  }
  i {
    width: 12px;
    height: 16px;
    color: $dark-grey;
  }
}

.book {
  background-color: $grey-body;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  h1 {
    width: 275px;
    height: 68px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 39px;
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    width: 315px;
    height: 46px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
}

button {
  width: 210px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms;
  &:hover {
    opacity: 0.85;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
}

.functioning {
  background-color: $white;
  height: 440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.title_functioning {
  padding-top: 48px;
  padding-bottom: 26px;
  margin: 0;
  font-size: 24px;
  margin-left: -10px;
}

.title_restaurants {
  padding-top: 48px;
  padding-bottom: 26px;
  margin: 0;
  font-size: 24px;
}

.steps {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .step__contain {
    background-color: #f6f6f6;
    width: 322.49px;
    height: 72.38px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(149, 157, 165, 0.5); /* sur la maquette opacité ombre à 0.1 mais ne donne pas le même rendu */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  i {
    padding-left: 35px;
    padding-right: 18px;
  }
  .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}

.nbr {
  position: absolute;
  top: 23px;
  left: -12px;
  background-color: $purple;
  color: $white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.restaurants {
  background-color: $grey-body;
  /*****/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permet aux éléments de se déplacer sur plusieurs lignes si nécessaire */
  /*****/
  width: 100%;
}

.contain_restaurants {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;
  /*width: fit-content;*/
}

.restaurants-cards {
  height: 1058px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  padding-bottom: 60px;
}

.card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: $white;
  position: relative;

  img {
    width: 340px;
    height: 175px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: bottom;
  }
  .new {
    position: absolute;
    top: 15px;
    left: 245px;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-light;
    color: $green;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
  }
  .card2 {
    object-position: 50% 62%;
  }
}

.description {
  position: relative;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  .who-where {
    color: #000000;
  }
  h3 {
    margin: 0;
    padding-bottom: 1px;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
  }
}

.card_contain {
  position: relative;
}

.iconHeartSolid {
  opacity: 0;
  position: absolute;
  right: 31px;
  bottom: 30px;
  font-size: x-large;
  cursor: pointer;
}
/* coeur avec bordure plus fines = icone payante sur Font Awesome*/
.iconHeartRegular {
  position: absolute;
  right: 31px;
  bottom: 30px;
  font-size: x-large;
  cursor: pointer;
}

/************* animation clic du coeur ***************/
/*****************************************************/
.checkboxHeart {
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .icons_heart {
    content: "";
    .iconHeartRegular {
      opacity: 0;
    }
    .iconHeartSolid {
      opacity: 1;
      background: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
}

footer {
  background-color: $dark-grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  p {
    color: $white;
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: $white;
  }
  .links_footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 16px;
  }
  .mentions {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  i {
    width: 11px;
    height: 13px;
    margin-right: 10px;
  }
}

/************************ Style scss Pages restaurants ******************************************/

.fa-arrow-left {
  position: absolute;
  top: 16.5px;
  left: 16.5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  &:hover {
    border: none;
  }
}

.img_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_restaurants {
  height: 275px;
  object-fit: cover;
  width: 100%;
  margin-top: 20px;
}

.menu_restaurants_img {
  width: 100%;
}

.menu_restaurants_contain {
  top: 40px;
  width: 100%;
  background-color: $grey-body;
  position: relative;
}

.header_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: $grey-body;
  border-radius: 45px 45px 0 0;
  position: absolute; /* élément parent: .img_restaurants */
  top: 280px;

  h1 {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    margin-left: 15px;
    margin-top: 35px;
  }

  .iconHeartRegular {
    top: 43px;
    left: 83%;
    bottom: auto;
  }

  .iconHeartSolid {
    top: 43px;
    left: 83%;
    bottom: auto;
  }
}

.menu_restaurants {
  margin-top: -20px;
  top: 300px;
  background-color: $grey-body;
}

.menu {
  .title {
    height: 27px;
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
  }
  .underline-title {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: $green-light;
    margin-left: 10px;
  }
  .main_course {
    margin-top: 30px;
  }
  .dessert {
    margin-top: 30px;
  }
}

.contain_menu {
  height: 72px;
  margin: 20px 10px 20px 10px;
  background-color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  position: relative;
  /************* animation apparition des plats *************/
  /**********************************************************/
  animation: appearance 5s;
  transform-origin: 0% 0%;
  /*********************************/

  .contain_meal {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%; /* pour que l'animation se fasse que devant les intitulés trop long */
  }
  .meal {
    font-size: 18px;
    font-weight: 500;
  }
  .meal_description {
    font-size: 15px;
    font-weight: 300;
  }
  .price {
    font-size: 15px;
    font-weight: 700;
    position: absolute; /* .contain_menu parent pour enlever le space between pour l'animation */
    right: 15px;
    margin: 0;
    padding: 0;
  }
}

/*************** Animation apparition plats ****************/
/***********************************************************/
@keyframes appearance {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.contain_menu1 {
  animation-delay: 0.1s;
}
.contain_menu2 {
  animation-delay: 0.5s;
}
.contain_menu3 {
  animation-delay: 1s;
}
.contain_menu4 {
  animation-delay: 1.5s;
}
.contain_menu5 {
  animation-delay: 2s;
}
.contain_menu6 {
  animation-delay: 2.5s;
}
.contain_menu7 {
  animation-delay: 3s;
}
.contain_menu8 {
  animation-delay: 3.5s;
}
.contain_menu9 {
  animation-delay: 4s;
}
.contain_menu10 {
  animation-delay: 4.5s;
}

/************** animation réservation de plats ******************/
/****************************************************************/
input[type="checkbox"] {
  display: none;
}
/* animation au check */
input[type="checkbox"]:checked + .contain_menu {
  .iconCheck {
    width: 59px;
    height: 100%;
    background-color: $green-light;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: meal_reservation;
    transform-origin: 100% 0%;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  .price {
    transform: translate(-50px);
    animation-name: price;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  .meal {
    animation-name: overflow_meal_description;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 0;
    transition-duration: 0.5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 75%;
  }
  .meal_description {
    animation-name: overflow_meal_description;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 0;
    transition-duration: 0.5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 75%;
  }
}

@keyframes meal_reservation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes overflow_meal_description {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.9);
  }
}

/* Animation au dé-check */
input[type="checkbox"]:not(:checked) + .contain_menu {
  .iconCheck {
    width: 59px;
    height: 100%;
    background-color: $green-light;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: meal_reservation_slideOut;
    transform-origin: 100% 0%;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
  .price {
    animation-name: price_slideOut;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  .meal {
    animation-name: overflow_meal_description;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 0;
    transition-duration: 0.5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
  .meal_description {
    animation-name: overflow_meal_description;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 0;
    transition-duration: 1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
}

@keyframes meal_reservation_slideOut {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes price_slideOut {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes overflow_meal_description {
  0% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

.order {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
}

/***************** media querries index.html ***********************/

@media (min-width: 1080px) {
  .navbar {
    box-shadow: none;
    height: 96px;
    img {
      width: 200px;
      height: 34.2px;
    }
  }
  .explore {
    box-shadow: none;
  }
  .book {
    background-color: $grey-body;
    height: 200px;
    h1 {
      width: 645px;
      height: 47px;
      margin-top: 30px;
    }
    p {
      width: 531px;
      height: 46px;
      margin: 0;
    }

    button {
      margin: 0;
      padding: 0;
    }
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: auto;
    width: fit-content;
    border: solid;
    width: 100%;
  }

  .functioning {
    border: solid red;
    width: 100%;
    height: 228.38px;
    width: fit-content;
  }

  .title_functioning {
    margin-left: 0;
  }

  .steps {
    flex-direction: row;
    padding-left: 10px;
    gap: 25px;
  }

  .restaurants {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
  }
  .restaurants-cards {
    height: 553px;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    row-gap: 50px;
    column-gap: 100px;
  }

  .card {
    width: 490px;
    img {
      width: 490px;
      object-position: 50% 68%;
    }
    .card2 {
      object-position: 50% 57%;
    }
    .new {
      left: 390px;
    }
    #iconHeartRegular {
      left: 443px;
    }
    #iconHeartSolid {
      left: 443px;
    }
  }

  footer {
    padding: 50px 25px 20px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    margin-top: 0;
    p {
      margin: 0;
    }
    .links_footer {
      width: 661px;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .link2 {
        padding-right: 40px;
      }
    }
    .mentions {
      flex-direction: row;
      gap: 20px;
    }
  }

  /*media querries pages restaurants*/

  body {
    background-color: $white;
  }

  .fa-arrow-left {
    top: 34px;
  }

  .menu_restaurants {
    width: 100%;
    background-color: $white;
  }
  .img_restaurants {
    height: 383px;
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    object-position: 50% 56%;
  }

  .header_menu {
    width: 1055px;
    height: 115px;
    top: 445px;
    margin: auto;
    justify-content: center;
    .iconHeartRegular {
      left: 65%;
      top: 52px;
    }
    .iconHeartSolid {
      left: 65%;
      top: 52px;
    }
  }

  .menu_restaurants_contain {
    width: 1055px;
    margin: auto;
    top: 77px;
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .starter {
      width: 634px;
    }
    .main_course {
      width: 634px;
    }
    .dessert {
      width: 634px;
    }
  }

  .footer {
    margin-top: 77px;
  }
}
