@charset "UTF-8";
/*Variables*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar img {
  width: 197px;
  height: 36px;
}

.explore {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.explore input {
  border: none;
  background-color: #eaeaea;
  width: 109px;
  height: 19px;
  font-size: 16px;
  margin-left: 20px;
}
.explore input::placeholder {
  color: #353535;
}
.explore input:focus {
  outline: none;
}
.explore i {
  width: 12px;
  height: 16px;
  color: #353535;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
}
.book h1 {
  width: 275px;
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 39px;
  text-align: center;
  margin-bottom: 0;
}
.book p {
  margin-top: 0;
  width: 315px;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

button {
  width: 210px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 1000ms;
}
button:hover {
  opacity: 0.85;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.functioning {
  background-color: #ffffff;
  height: 440px;
}

h2 {
  padding-top: 48px;
  padding-left: 20px;
  padding-bottom: 26px;
  font-size: 24px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.steps .step__contain {
  background-color: #f6f6f6;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.steps i {
  padding-left: 35px;
  padding-right: 18px;
}
.steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.steps p {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.nbr {
  position: absolute;
  top: 23px;
  left: -12px;
  background-color: #9356dc;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.restaurants-cards {
  height: 1058px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.card img {
  width: 340px;
  height: 160px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card .new {
  position: absolute;
  top: 15px;
  left: 245px;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.description {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.description .who-where {
  color: #000000;
}
.description h3 {
  margin: 0;
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 700;
}
.description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

#iconHeartSolid {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 293px;
  font-size: x-large;
  cursor: pointer;
}

/* coeur avec bordure plus fines = icone payante sur Font Awesome*/
#iconHeartRegular {
  position: absolute;
  top: 10px;
  left: 293px;
  font-size: x-large;
  cursor: pointer;
}

input[type=checkbox].Heart {
  display: none;
}

input[type=checkbox].Heart:checked + label {
  content: "";
}
input[type=checkbox].Heart:checked + label #iconHeartRegular {
  opacity: 0;
}
input[type=checkbox].Heart:checked + label #iconHeartSolid {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
footer p {
  color: #ffffff;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer .links_footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
}
footer .mentions {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer i {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

/*Style scss Pages restaurants*/
.fa-arrow-left {
  position: absolute;
  top: 16.5px;
  left: 16.5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
}
.fa-arrow-left:hover {
  border: none;
}

.img_restaurants {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

.menu_restaurants_img {
  z-index: 0;
  position: absolute;
  top: 63px;
  width: 100%;
}

.menu_restaurants_contain {
  border-radius: 30px 30px 0 0;
  z-index: 1;
  position: absolute;
  top: 283px;
  width: 100%;
  background-color: #f6f6f6;
}

.header_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.header_menu h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
}
.header_menu #iconHeartRegular {
  top: 36%;
  left: auto;
}
.header_menu #iconHeartSolid {
  top: 36%;
  left: auto;
}

.menu_restaurants {
  margin-top: -20px;
  top: 300px;
  background-color: #f6f6f6;
}

.menu .title {
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
  position: relative;
}
.menu .underline-title {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-left: 10px;
}

.contain_menu {
  height: 72px;
  margin: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  position: relative;
}
.contain_menu .contain_meal {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contain_menu .meal {
  font-size: 18px;
  font-weight: 500;
}
.contain_menu .meal_description {
  font-size: 15px;
  font-weight: 300;
}
.contain_menu .price {
  font-size: 15px;
  font-weight: 700;
}

/* Animation réservation plat */
.iconCheck {
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  position: absolute;
}

.price {
  position: absolute;
  right: 10px;
  top: 20px;
}

.checkBook input[type=checkbox].check {
  display: none;
}
.checkBook input[type=checkbox].check:checked + label {
  content: "";
}
.checkBook input[type=checkbox].check:checked + label .iconCheck {
  opacity: 1;
}

.contain_menu:active .price {
  transform: translate(-50px);
}

/*
input[type="checkbox"].Heart {
  display: none;
}

input[type="checkbox"].Heart:checked + label {
  content: "";
  #iconHeartRegular {
    opacity: 0;
  }
  #iconHeartSolid {
    opacity: 1;
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
*/
.order {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
}

/*media querries index.html*/
@media (min-width: 1440px) {
  /*mettre le logo plus grand*/
  .functioning {
    height: 228.38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    padding: 0;
    padding-left: 180px;
  }
  .steps {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .restaurants-cards {
    height: 608px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;
    margin-bottom: 20px;
  }
  .card {
    width: 490px;
  }
  .card img {
    width: 490px;
  }
  .card .new {
    left: 395px;
  }
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 16px;
  }
  footer .links_footer {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  footer .mentions {
    flex-direction: row;
    gap: 20px;
  }
  /*media querries pages restaurants*/
  body {
    background-color: #ffffff;
  }
  .menu_restaurants {
    width: 1055px;
    margin: 0 192.5px;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
