@charset "UTF-8";
/*Variables*/
.fa-arrow-left {
  position: absolute;
  top: 16.5px;
  left: 16.5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
}
.fa-arrow-left:hover {
  border: none;
}

.menu_restaurants {
  top: 300px;
  background-color: #f6f6f6;
}

.img_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_restaurants_img {
  width: 100%;
}

.img_restaurants {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

.header_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  position: absolute;
  top: 285px;
}
.header_menu h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin-left: 15px;
  margin-top: 35px;
}
.header_menu .iconHeartRegular {
  top: 43px;
  bottom: auto;
}
.header_menu .iconHeartSolid {
  top: 43px;
  bottom: auto;
}

.menu_restaurants_contain {
  margin-top: 46px;
  width: 100%;
  background-color: #f6f6f6;
}

.menu .title {
  height: 27px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}
.menu .underline-title {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-left: 10px;
  margin-top: 5px;
}
.menu .main_course {
  margin-top: 30px;
}
.menu .dessert {
  margin-top: 30px;
}

.contain_menu {
  height: 69px;
  margin: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  cursor: pointer;
  position: relative;
  animation: appearance 5s;
  transform-origin: 0% 0%;
}
.contain_menu .contain_meal {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.contain_menu .meal {
  font-size: 18px;
  font-weight: 500;
}
.contain_menu .meal_description {
  font-size: 15px;
  font-weight: 300;
}
.contain_menu .price {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  margin: 0;
  padding: 0;
}

/*************** Animation apparition plats ****************/
/***********************************************************/
@keyframes appearance {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
.contain_menu1 {
  animation-delay: 0.1s;
}

.contain_menu2 {
  animation-delay: 0.5s;
}

.contain_menu3 {
  animation-delay: 1s;
}

.contain_menu4 {
  animation-delay: 1.5s;
}

.contain_menu5 {
  animation-delay: 2s;
}

.contain_menu6 {
  animation-delay: 2.5s;
}

.contain_menu7 {
  animation-delay: 3s;
}

.contain_menu8 {
  animation-delay: 3.5s;
}

.contain_menu9 {
  animation-delay: 4s;
}

.contain_menu10 {
  animation-delay: 4.5s;
}

/************** animation réservation de plats ******************/
/****************************************************************/
input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .contain_menu .iconCheck {
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: meal_reservation;
  transform-origin: 100% 0%;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
input[type=checkbox]:checked + .contain_menu .price {
  transform: translate(-50px);
  animation-name: price;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
input[type=checkbox]:checked + .contain_menu .meal {
  animation-name: overflow_meal_description;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 0;
  transition-duration: 0.5s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
}
input[type=checkbox]:checked + .contain_menu .meal_description {
  animation-name: overflow_meal_description;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 0;
  transition-duration: 0.5s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
}

@keyframes meal_reservation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes price {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes overflow_meal_description {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.9);
  }
}
input[type=checkbox]:not(:checked) + .contain_menu .iconCheck {
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-name: meal_reservation_slideOut;
  transform-origin: 100% 0%;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
input[type=checkbox]:not(:checked) + .contain_menu .price {
  animation-name: price_slideOut;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
input[type=checkbox]:not(:checked) + .contain_menu .meal {
  animation-name: overflow_meal_description;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 0;
  transition-duration: 0.5s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
input[type=checkbox]:not(:checked) + .contain_menu .meal_description {
  animation-name: overflow_meal_description;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 0;
  transition-duration: 1s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@keyframes meal_reservation_slideOut {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes price_slideOut {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes overflow_meal_description {
  0% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}
.order {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
}

/****************** media queries ********************/
@media (min-width: 1025px) {
  body {
    background-color: #ffffff;
  }
  .fa-arrow-left {
    top: 34px;
  }
  .menu_restaurants {
    width: 100%;
    background-color: #ffffff;
  }
  .img_restaurants {
    height: 383px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 56%;
  }
  .header_menu {
    width: 73.2%;
    height: 115px;
    top: 445px;
    margin: auto;
    justify-content: center;
  }
  .header_menu .iconHeartRegular {
    right: unset;
    top: 52px;
  }
  .header_menu .iconHeartSolid {
    right: 200px;
    top: 52px;
  }
  .menu_restaurants_contain {
    position: relative;
    width: 73.2%;
    margin: auto;
    top: 77px;
  }
  .menu_restaurants_contain .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu_restaurants_contain .starter {
    width: 634px;
  }
  .menu_restaurants_contain .main_course {
    width: 634px;
  }
  .menu_restaurants_contain .dessert {
    width: 634px;
  }
  .footer {
    margin-top: 77px;
  }
}
/*Variables*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0;
}

/************* Animation Loader HomePage ************/
/****************************************************/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation-name: loader;
  animation-duration: 3s;
  animation-fill-mode: both;
}
.loader .lettre {
  color: #9356dc;
  font-size: 40px;
  animation: flash 1.2s linear infinite;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes flash {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

header {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar img {
  width: 162px;
}

.explore {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
}
.explore i {
  width: 12px;
  height: 16px;
  color: #353535;
}
.explore input {
  border: none;
  background-color: #eaeaea;
  width: 109px;
  height: 19px;
  font-size: 16px;
  margin-left: 20px;
}
.explore input::placeholder {
  color: #353535;
}
.explore input:focus {
  outline: none;
}

.book {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 287px;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
}
.book h1 {
  width: 275px;
  height: 68px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 39px;
  text-align: center;
  margin-bottom: 0;
}
.book p {
  margin-top: 0;
  width: 315px;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

button {
  width: 210px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms;
}
button:hover {
  opacity: 0.85;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.functioning {
  background-color: #ffffff;
  height: 440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
}

.title_functioning {
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
  font-size: 24px;
  margin-left: -10px;
}

.steps {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.steps .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.steps .step__contain {
  background-color: #f6f6f6;
  width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(149, 157, 165, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.steps i {
  padding-left: 35px;
  padding-right: 18px;
}
.steps p {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.nbr {
  position: absolute;
  top: 23px;
  left: -12px;
  background-color: #9356dc;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.contain_restaurants {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;
}

.title_restaurants {
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 24px;
}

.restaurants-cards {
  height: 1058px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: relative;
  padding-bottom: 65px;
}

.card_contain {
  position: relative;
}

a {
  text-decoration: none;
}

.card {
  width: 340px;
  height: 251px;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
}
.card .new {
  position: absolute;
  top: 15px;
  left: 245px;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
.card img {
  width: 340px;
  height: 175px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: bottom;
}
.card .card2 {
  object-position: 50% 62%;
}

.description {
  position: relative;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.description .who-where {
  color: #000000;
}
.description h3 {
  margin: 0;
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 700;
}
.description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

.iconHeartSolid {
  opacity: 0;
  position: absolute;
  right: 31px;
  bottom: 30px;
  font-size: x-large;
  cursor: pointer;
}

.iconHeartRegular {
  position: absolute;
  right: 31px;
  bottom: 30px;
  font-size: x-large;
  cursor: pointer;
}

/************* animation clic du coeur ***************/
/*****************************************************/
.checkboxHeart input[type=checkbox] {
  display: none;
}
.checkboxHeart input[type=checkbox]:checked + .icons_heart {
  content: "";
}
.checkboxHeart input[type=checkbox]:checked + .icons_heart .iconHeartRegular {
  opacity: 0;
}
.checkboxHeart input[type=checkbox]:checked + .icons_heart .iconHeartSolid {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer p {
  color: #ffffff;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 20px;
}
footer .links_footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
}
footer i {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer .mentions {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/**************** media queries ***********************/
@media (min-width: 1025px) {
  .navbar {
    box-shadow: none;
    height: 96px;
  }
  .navbar img {
    width: 200px;
    height: 34.2px;
  }
  .book {
    background-color: #f6f6f6;
    height: 200px;
    box-shadow: none;
  }
  .book h1 {
    width: 645px;
    height: 47px;
    margin-top: 30px;
  }
  .book p {
    width: 531px;
    height: 46px;
    margin: 0;
  }
  .book button {
    margin: 0;
    padding: 0;
  }
  .functioning {
    width: 100%;
    height: 228.38px;
    width: fit-content;
  }
  .title_functioning {
    margin-left: 0;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .steps {
    flex-direction: row;
    padding-left: 10px;
    gap: 23px;
  }
  .restaurants {
    padding-bottom: 5px;
    width: 100%;
  }
  .title_restaurants {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .restaurants-cards {
    width: 1025px;
    height: 553px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 50px;
    column-gap: 45px;
    padding-bottom: 35px;
  }
  .card {
    width: 490px;
  }
  .card .new {
    left: 390px;
  }
  .card img {
    width: 490px;
    object-position: 50% 68%;
  }
  .card .card2 {
    object-position: 50% 57%;
  }
  .card #iconHeartRegular {
    left: 443px;
  }
  .card #iconHeartSolid {
    left: 443px;
  }
  footer {
    padding: 50px 25px 20px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    margin-top: 0;
  }
  footer p {
    margin: 0;
  }
  footer .links_footer {
    width: 661px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  footer .links_footer .link2 {
    padding-right: 40px;
  }
  footer .mentions {
    flex-direction: row;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
